body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#preloader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display:normal;
  
}
#loader {
    height:50px;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    
}
.main-content{
    display:none;
}
