body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#preloader {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    
  
}
#loader {
    height:50px;
    width: 50px;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    
}

.main-content{
   top:0;
   
}
body {
    font-size: 1.6rem;
    font-family: "PT Sans",sans-serif;
}
.scroll-top  {
    text-align: right;
    
}
.scroll-top a {
    background-color:burlywood;
    padding: 25px;
}

.copyright{
    text-align:left;
    padding-left:25px;
}

footer{
    bottom:0;
    background-color:darkgreen;
    padding:35px;
}

.social-media-links{
    text-align:left;
}
.page-title {
    text-align: left;
}
body {
    padding:0px;
}
.page-header {
    padding:25px;
    background-color:burlywood;
}
.user-info {
    text-align: right;
}

