@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6">
                <a href="/Admin/Index">
                    <i class="fas fa-user-secret" style="color:purple"></i>
                    <text>AdminPanel</text>
                </a>
            </div>

            <div class="col-md-6">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <i class="fas fa-user"></i>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </div>

    }
}
else
{

    <span>
        <i class="fas fa-user-plus" style="color:red;"></i>
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) |
    </span>

    <span>
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </span>

}
