
<div ng-app="storeApp">

    <div ng-controller="productController">
        <div>
            {{message}}
            <ng-view></ng-view>
        </div>
        <div>
            <a href="#!ProductList">Products</a>
            <a href="#!HomePage">HomePage</a>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/ProductJS/module.js"></script>
<script src="~/Scripts/ProductJS/controller.js"></script>

<script src="~/Scripts/ProductJS/services.js"></script>